/* style.css */

/* You can add your custom CSS styles here */
body {
  font-family: Arial, sans-serif;
  background: #176fe0;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: white;
}

form {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select,
input[type="email"],
input[type="tel"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 140px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #0056b3;
}
